extends layout

block navbar
  include componnents/user_card

block content
  h1= title

  table#ranking.w3-table.w3-bordered
    thead
      tr
        th Rank
        th Name
        th Points
        //th actions
    each entry, index in ranking
      tr(data-user-id=entry.id).w3-hover-amber
        td= index+1
        td= entry.name
        td= entry.score


block scripts
  script(src='js/content_setters.js')
  script(src='js/main.js')

block styles
  link(rel='stylesheet', href='/stylesheets/user_card.css')
  link(rel='stylesheet', href='/stylesheets/loader.css')
