extends layout

block title
  title Edit user

block content
  #error-panel.w3-panel.w3-red.w3-display-container.w3-padding(style='display: none')
    h3 Error
    span#error-text.w3-margin-bottom
    span.w3-button.w3-display-topright.w3-hover-white(onclick=`this.parentElement.style.display='none'`)

      i.fa.fa-close

  .full-vh.w3-display-container
    .w3-display-middle.w3-center
      form#edit-form(data-user-id=`${user.id}`)
        input.w3-input.w3-border.w3-theme-l1.w3-center.w3-xlarge(type='text' value=`${user.name}` placeholder='name' name='name' required)

        ul.w3-ul.w3-border
          li.w3-display-container
            h3.w3-left-align
              span score
              span.w3-display-right.w3-container= user.score
          li.w3-theme-l5 Completed tracks
          each track in user.completedTracks
            li.w3-left-align.w3-display-container
              span.w3-tooltip= `${track.name} `
                span.w3-text.w3-text-amber= `${track.length} m, ${track.points} points`

              span.w3-button.w3-display-right.delete-track.w3-hover-red(data-track-id=`${track._id}`)
                i.fa.fa-trash-o(data-track-id=`${track._id}`)
          li.w3-hover-border-blue-gray.c-pointer
            i.fa.fa-plus
            span  add new track

          li#disqualify.w3-hover-border-red.c-pointer

            if user.disqualified
              i.fa.fa-gavel
              span  remove disqualification
            else
              i.fa.fa-ban
              span  disqualify

          li#save-edit.w3-hover-green.c-pointer
            i.fa.fa-save.w3-left-align
            span  save info


block styles
  link(rel='stylesheet', href='/stylesheets/user_edit.css')

block scripts
  script(src='/js/user_edit_functions.js')
  script(src='/js/user_edit_main.js')